*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#f3f4f6;
  color:#111827;
}

header{
  background:#2563eb;
  color:white;

  padding:20px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

header h1{
  font-size:30px;
}

#themeBtn{
  padding:10px 15px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

main{
  max-width:900px;
  margin:auto;
  padding:20px;
}

.hero{
  text-align:center;
  margin-top:40px;
}

.hero h2{
  font-size:35px;
  margin-bottom:10px;
}

.hero p{
  color:#4b5563;
}

.predictor-card{
  background:white;
  padding:25px;

  margin-top:30px;

  border-radius:15px;

  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.predictor-card label{
  display:block;
  margin-top:15px;
  margin-bottom:8px;
  font-weight:bold;
}

.predictor-card input,
.predictor-card select{
  width:100%;
  padding:14px;

  border-radius:10px;
  border:1px solid #d1d5db;
}

.predict-btn{
  width:100%;
  margin-top:20px;

  padding:14px;

  background:#2563eb;
  color:white;

  border:none;
  border-radius:10px;

  cursor:pointer;
  font-size:16px;
  font-weight:bold;
}

.predict-btn:hover{
  background:#1d4ed8;
}

.result-box{
  background:white;

  margin-top:30px;
  padding:25px;

  border-radius:15px;

  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.college{
  margin-top:20px;
  padding:15px;

  border-radius:10px;

  background:#eff6ff;
}

footer{
  text-align:center;
  padding:25px;
  margin-top:40px;
  color:#6b7280;
}

.dark-mode{
  background:#111827;
  color:white;
}

.dark-mode .predictor-card,
.dark-mode .result-box{
  background:#1f2937;
}

.dark-mode .college{
  background:#374151;
}

.dark-mode input,
.dark-mode select{
  background:#111827;
  color:white;
  border:1px solid #4b5563;
}

.dark-mode footer,
.dark-mode .hero p{
  color:#d1d5db;
}

@media(max-width:768px){

  header{
    flex-direction:column;
    gap:15px;
  }

  .hero h2{
    font-size:28px;
  }

}
